.footer {
  margin-top: 1em;
  padding: 2em;
  text-align: left;
  color: black;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover {
  color: blue;
}

.footer .container {
  max-width: 1000px;
  margin: auto;
}

.footer__links {
  display: flex;
  justify-content: flex-start;
}

.footer__link {
  margin-right: 25px;
}

.footer__credits {
  font-size: .8em;
}

.footer__credits a {
  text-decoration: underline;
}

.footer__icon {
  font-size: 18px;
}

.footer__icon:hover {
  cursor: pointer;
}

.footer__icon:hover:after {
  content: 'Scandalous!';
  margin-left: 7px;
  font-size: 13px;
  font-style: italic;
}
