body {
  background: #01FF70;
  color: #111;
  text-align: center;
  font-family: Lato, Helvetica, sans-serif;
  border-top: 5px solid #f012be;
}

h1 {
  color: #f012be;
  font-size: 2.2em;
  margin: auto;
  padding: .5em;
}

h1:before, h1:after {
  content: ' - - - ';
}

.intro__lead {
  font-size: 1.5em;
  font-weight: bold;
}
/* blue #0074d9*/

.intro__lead em {
  color: #f012be;
  border-bottom: 2px solid;
  padding: 0 .2em .15em .1em;
}
