body {
  background: #66FFAD;
  background-image: linear-gradient(to bottom right, #66FFAD, #66E5FF);
  text-align: center;
  font-family: BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
}

h1 {
  color: blue;
  font-size: 2.2em;
}

h1.title:before, h1.title:after {
  content: ' - - - ';
}
