.tabs {
  margin: 0 0 0 10px;
}

.tab {
  cursor: pointer;
  margin: 20px 3px 0 0;
  padding: 7px 15px;
  font-size: 16px;
}

.tab--active {
  background: @offwhite;
  color: @text;
  font-weight: bold;
}

.tab-content {
  display: none;
  background: @offwhite;
  padding: 10px;
}

.tab-content--active {
  display: block;
}
